.root {
    width: 100%;

    span {
        display: block;
        height: 15px;
        transition: 1s all;
    }

    .orange {
        background-color: #FFA059;
    }
    
    .green {
        background-color: #1EE58C;
    }
    
    .white {
        background-color: #fff;
    }
}

