.root {
    width: 100%;

    span {
        display: block;
        height: 15px;
        transition: 1s all;
    }

    .orange {
        background-color: $orange;
    }
    
    .green {
        background-color: $green;
    }
    
    .white {
        background-color: $white;
    }
}

