.root {
    padding: 60px 30px 0;
    max-width: 700px;
    height: 100%;
    margin: auto;
    
    @include screenSuperSmall {
        padding: 20px 30px 0;
    }

    .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;

        @include screenSuperSmall {
            margin-bottom: 10px;
        }
        
        span {
            display: block;
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 43px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75%;

        @include screenLarge {
            justify-content: flex-start;
        }
    }

    .durationsContainer {
        display: flex;
        gap: 10px;
    }

    .exercises {
        .exercisesTitle {
            display: flex;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #BFBFBF;
            margin-bottom: 9px;
        }

        .exercisesBody {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

    }


    .action {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .submit {
        display: flex;
        align-items: center;
        font-size: 25px;
        font-weight: 500;
        color: $white;
        background-color: transparent;
        border: none;
        cursor: pointer;

        svg {
            margin-left: 5px;
        }

        &:disabled {
            opacity: 40%;
        }
    }

}