.root {
    margin: 60px auto;
    max-width: 300px;
    padding-left: 30px;
    padding-right: 30px;

    .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;
        
        span {
            display: block;
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 43px;
        }
    }

    form {
        padding-bottom: 50px;
    }

    .durationsContainer {
        display: flex;
        gap: 10px;
    }

    .exercises {
        .exercisesTitle {
            display: flex;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #BFBFBF;
            margin-bottom: 8px;
        }

        .exercisesBody {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

    }

    .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 195px;
        height: 50px;
        font-size: 30px;
        font-weight: 500;
        background-color: #fff;
        border-radius: 50px;
        margin: 30px auto;
        color: #000;
        border: none;

        &:disabled {
            opacity: 40%;
        }
    }

}