.root {
    display: flex;
    margin: 0 4px 10px;

    label {
        border: 1px solid $white;
        border-radius: 5px;
        padding: 6px 8px;
        color: $white;
        cursor: pointer;
    }

    input {
        position: absolute;
        visibility: hidden;
    }

    input:disabled + label {
        border: 1px solid $darkGray;
        background-color: $darkGray;
    }

    input:checked + label {
        border: 1px solid $green;
        background-color: $green;
        color: $black;
    }
}