.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    label {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $gray;
        margin-bottom: 8px;
    }

    select {
        height: 40px;
        padding: 10px 12px;
        outline: none;
        border-radius: 5px;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        width: 100%;
        background-color: $white;
        appearance: none
    }

    .inputContainer {
        position: relative;
        
        .customArrow {
            display: flex;
            justify-content: center;
            align-items: center;    
            position: absolute;
            top: 9px;
            right: 1px;
            pointer-events: none;
            width: 50px;
        }
    }



}