// Mixins
// -----------------------------------------------------------------------------

@mixin screenSuperSmall {
    @media (max-width: calc(#{$breakpointsSuperSmall} - 1px)) {
        @content;
    }
}

@mixin screenMedium {
    @media (max-width: calc(#{$breakpointsLarge} - 1px)) {
        @content;
    }
}

@mixin screenLarge {
    @media (min-width: $breakpointsLarge) {
        @content;
    }
}

@mixin flex($dir: row, $align: center, $justify: center) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
}
