// Breakpoints
// -----------------------------------------------------------------------------
$breakpointsLarge: 1024px;

// Sizing
// -----------------------------------------------------------------------------
$maxPageWidth: 1332px;
$pageWidth: 88.8%;
$mobilePageWidth: 91.67%;

// Z-Index
// -----------------------------------------------------------------------------
$zHeader: 5;
$zMain: 1;
$zFooter: 3;

// Colors
// -----------------------------------------------------------------------------
$black: #0e0f10;
$white: #ffffff;
$gray: #BFBFBF;
$darkGray: #333333;
$green: #1EE58C;
$orange: #FFA059;

// Animation
// -----------------------------------------------------------------------------

@keyframes wiggle {
    10%,
    90% {
        transform: rotate(-5deg);
    }

    20%,
    80% {
        transform: rotate(5deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(-10deg);
    }

    40%,
    60% {
        transform: rotate(10deg);
    }
}
