// Breakpoints
// -----------------------------------------------------------------------------
$breakpointsLarge: 1024px;

// Sizing
// -----------------------------------------------------------------------------
$maxPageWidth: 1332px;
$pageWidth: 88.8%;
$mobilePageWidth: 91.67%;

// Z-Index
// -----------------------------------------------------------------------------
$zHeader: 5;
$zMain: 1;
$zFooter: 3;

// Colors
// -----------------------------------------------------------------------------
$black: #0e0f10;
$white: #ffffff;
$darkGray: #333539;
$lightGray: #eaeaea;
$baseBlue: #003e69;
$red: #f13511;
$purple: #934f91;
$green: #70b67f;

// Animation
// -----------------------------------------------------------------------------

@keyframes wiggle {
    10%,
    90% {
        transform: rotate(-5deg);
    }

    20%,
    80% {
        transform: rotate(5deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(-10deg);
    }

    40%,
    60% {
        transform: rotate(10deg);
    }
}
